@charset "UTF-8";
/*********Responsive*************/
@media (min-width: 990px), (max-width: 1440px) {
  /*****RESPONSIVE-HOMEPAGE************/
  /*************HEADER************/
  .homepage {
    /************Reservation********/
    /***********FONCTIONNEMENT*********/
    /***********RESTAURANT*************/
  }
  .homepage .search-container,
  .homepage .ohmyfood {
    box-shadow: none;
  }
  .homepage .Réservation {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .homepage .Réservation .titre {
    margin-bottom: 18px;
    font-size: 40px;
    height: 47px;
    text-align: center;
    align-items: center;
    width: inherit;
  }
  .homepage .Réservation p {
    height: 46px;
    padding: 0 0 18px 0;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .homepage .Réservation .explorer {
    display: flex;
    align-items: center;
    margin: auto;
  }
  .homepage .Réservation .explorer .button {
    padding: 15px 18.075px;
    margin: 0;
  }
  .homepage .fonctionnement-section {
    padding: 50px 180px 50px 180px;
  }
  .homepage .fonctionnement-section .fonctionnement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0;
  }
  .homepage .restaurants {
    margin: 0 180px;
    padding: 0 0 30px 0;
    box-sizing: border-box;
  }
  .homepage .restaurants .titre {
    padding-top: 30px;
    margin-top: 0;
  }
  .homepage .restaurants .restaurant-cards {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 100px;
  }
  .homepage .restaurants .card {
    flex: 1;
  }
  /***********FOOTER*********/
  footer {
    padding: 30px;
    position: relative;
    height: 114px;
    width: 100%;
  }
  footer .footer-container {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
  }
  footer .footer-container img {
    position: absolute;
    top: 57px;
    right: 51px;
    width: 137px;
    display: flex;
    align-self: flex-end;
    margin-right: 28px;
  }
  footer .footer-container .liste-footer {
    position: absolute;
    right: 190px;
    top: 64px;
    display: grid;
    grid-template-columns: 190px 190px 130px 130px;
    width: 661px;
    padding-left: 0;
  }
  /*********RESPONSIVE-MENU**********/
  .menuLaPaletteDG .img,
  .menuALaFR .img,
  .menuLaNoteE .img,
  .menuLeDeliceDS .img {
    height: 956.14px;
  }
  .menuLaPaletteDG .menu,
  .menuALaFR .menu,
  .menuLaNoteE .menu,
  .menuLeDeliceDS .menu {
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .menuLaPaletteDG .menu .liste,
  .menuALaFR .menu .liste,
  .menuLaNoteE .menu .liste,
  .menuLeDeliceDS .menu .liste {
    width: 634px;
  }
  .menuLaPaletteDG .menu .titre,
  .menuALaFR .menu .titre,
  .menuLaNoteE .menu .titre,
  .menuLeDeliceDS .menu .titre {
    padding-top: 19px;
  }
  .menuLaPaletteDG .menu .banniere,
  .menuALaFR .menu .banniere,
  .menuLaNoteE .menu .banniere,
  .menuLeDeliceDS .menu .banniere {
    position: relative;
  }
  .menuLaPaletteDG .menu .like-button,
  .menuALaFR .menu .like-button,
  .menuLaNoteE .menu .like-button,
  .menuLeDeliceDS .menu .like-button {
    position: absolute;
    left: 400px;
    top: -12px;
  }
}
/*********Homepage***************/
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100%;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  visibility: visible;
  animation: fondu 5s;
  transform-origin: top;
  animation-fill-mode: forwards;
}

.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-radius: 50%;
  animation: spin 1s;
  animation-iteration-count: 3;
}

/******COMMUN*******/
* {
  text-decoration: none;
  color: inherit;
  font-family: "Roboto";
}
* :focus {
  outline: none;
}
* body {
  margin: 0;
}
* .card img {
  object-fit: cover;
}

/********EN-TETE*********/
.homepage .en-tete {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.homepage .en-tete .ohmyfood {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  text-align: center;
}
.homepage .en-tete img {
  width: 162px;
  height: 44px;
  padding: 14px 0 5px 0;
}
.homepage .en-tete .search {
  text-align: center;
  border: none;
  padding: 0;
}
.homepage .en-tete .search::placeholder {
  text-align: center;
  line-height: 18.075px;
  font-weight: 500;
  font-size: 16px;
  color: #353535;
}
.homepage .en-tete .search-container {
  display: flex;
  justify-content: center;
  gap: 17px;
  padding: 15.5px 118.5px;
}
.homepage .en-tete .search-container .location {
  height: 16px;
}

/**********SECTION-RESERVATION*************/
.Réservation {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 39px;
  padding-bottom: 57px;
}
.Réservation .titre {
  display: flex;
  align-self: center;
  margin: 0 58px 0 42px;
  font-size: 24px;
  width: 275px;
  height: 68px;
  line-height: 28px;
}
.Réservation p {
  font-size: 18px;
  line-height: 21.009px;
  font-weight: 300;
  padding-bottom: 27px;
  padding: 0 26px 27px 34px;
  margin: 0;
}
.Réservation .button {
  padding: 13px 18.075px;
  border: transparent;
  border-radius: 25px;
  font-size: 16px;
  margin: 0 75px 0 82px;
}

/************FONCTIONNEMENT********/
.fonctionnement-section {
  padding: 48px 20px 68px 20px;
}
.fonctionnement-section .titre {
  margin: 0 0 26px 0;
}
.fonctionnement-section .fonctionnement-liste {
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 20px;
  height: 72px;
}
.fonctionnement-section .fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.fonctionnement-section .nombre-fonctionnement {
  position: absolute;
  top: 30%;
  left: -10px;
  height: 24px;
  width: 24px;
  text-align: center;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  align-content: center;
}
.fonctionnement-section .fonctionnement-titre, .fonctionnement-section .fonctionnement-icone {
  align-content: center;
  font-size: 16px;
}
.fonctionnement-section .fonctionnement-icone {
  padding-left: 33px;
  padding-right: 27px;
  width: 13px;
}

/*********SECTION-RESTAURANTS************/
.restaurants {
  padding: 0 18px 66px 18px;
  display: flex;
  flex-direction: column;
}
.restaurants .titre {
  padding-top: 54px;
  margin-top: 0;
}
.restaurants .restaurant-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants .card {
  display: flex;
  flex-direction: column;
  height: 251px;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  position: relative;
}
.restaurants .restaurant-cards img {
  height: 174px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants .nouveau {
  font-weight: 500;
  line-height: 16.41px;
  border: transparent;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  padding: 9px 7px;
  width: 80px;
  text-align: center;
  position: absolute;
  right: 15px;
  top: 13px;
}
.restaurants .card-txt {
  padding-left: 13px;
  line-height: 21px;
  position: relative;
}
.restaurants .card-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.restaurants .card-subtitle {
  font-size: 17px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 12px;
}
.restaurants .fa-heart {
  font-size: 30px;
}
.restaurants .like-button {
  cursor: inherit;
}
.restaurants .coeur-vide {
  position: absolute;
  right: 25px;
  top: 23px;
}
.restaurants .coeur-plein {
  position: absolute;
  right: 25px;
  top: 23px;
  height: 30px;
  width: 30px;
  opacity: 0;
  color: transparent;
  transition: opacity 0.5s ease;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
}
.restaurants .coeur-plein:hover {
  opacity: 1;
}

/*******FOOTER****/
footer {
  display: flex;
  flex-direction: column;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
}
footer img {
  padding-top: 22px;
  padding-left: 25px;
  width: 139px;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0;
  padding-left: 25px;
}
footer ul .icone {
  margin-right: 7px;
}

/*********Color-Générale*********/
/****Background-color*******/
/*******text-color****/
/****Background-button-color******/
/*******border-color*****/
/**********HOMEPAGE***********/
.homepage {
  background-color: #F6F6F6;
}

.search, .search-container {
  background-color: #EAEAEA;
}

.search-container {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.button {
  color: #FFFFFF;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.button:active {
  transform: translate(0px, 5px);
}

.fonctionnement-section {
  background-color: #FFFFFF;
}

.nombre-fonctionnement {
  background-color: #9356DC;
  color: #FFFFFF;
}

.fonctionnement-liste {
  background-color: #F3F3F3;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.fonctionnement-liste .grey {
  color: #7E7E7E;
}
.fonctionnement-liste .purple {
  color: #9356DC;
}

.card {
  background-color: #FFFFFF;
}

.like-button:hover, .like-button:active {
  color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

footer {
  background-color: #353535;
}
footer .footer-container {
  color: #FFFFFF;
}
footer img {
  filter: invert(100%);
}

/************MENUS**********/
.commander {
  color: #FFFFFF;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.commander:active {
  transform: translate(0px, 5px);
}

/*********Restaurants-Menu*******/
.menuLaPaletteDG,
.menuALaFR,
.menuLaNoteE,
.menuLeDeliceDS {
  /*********HEARDER*********/
  /**********SECTION-TITRE*********/
  /***********SECTION-LISTES-MENUS*********/
}
.menuLaPaletteDG .assiette,
.menuALaFR .assiette,
.menuLaNoteE .assiette,
.menuLeDeliceDS .assiette {
  object-fit: cover;
}
.menuLaPaletteDG .ohmyfood,
.menuALaFR .ohmyfood,
.menuLaNoteE .ohmyfood,
.menuLeDeliceDS .ohmyfood {
  display: flex;
  flex-direction: row;
  height: 63px;
  position: relative;
}
.menuLaPaletteDG .ohmyfood .logo,
.menuALaFR .ohmyfood .logo,
.menuLaNoteE .ohmyfood .logo,
.menuLeDeliceDS .ohmyfood .logo {
  width: 162px;
  height: 30px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
}
.menuLaPaletteDG .ohmyfood .retour,
.menuALaFR .ohmyfood .retour,
.menuLaNoteE .ohmyfood .retour,
.menuLeDeliceDS .ohmyfood .retour {
  font-size: 17.2px;
  position: absolute;
  left: 23px;
  top: 24px;
}
.menuLaPaletteDG .assiette,
.menuALaFR .assiette,
.menuLaNoteE .assiette,
.menuLeDeliceDS .assiette {
  width: 100%;
  height: 275px;
  position: relative;
}
.menuLaPaletteDG header,
.menuALaFR header,
.menuLaNoteE header,
.menuLeDeliceDS header {
  background-color: #FFFFFF;
  height: 383px;
}
.menuLaPaletteDG .menu,
.menuALaFR .menu,
.menuLaNoteE .menu,
.menuLeDeliceDS .menu {
  background-color: #F6F6F6;
  margin-top: -90px;
  margin-bottom: -30px;
  z-index: 10;
  position: relative;
  border-radius: 30px;
  padding-top: 32px;
}
.menuLaPaletteDG .menu .titre,
.menuALaFR .menu .titre,
.menuLaNoteE .menu .titre,
.menuLeDeliceDS .menu .titre {
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  font-family: shrikhand;
  margin-left: 17px;
  margin-bottom: 40px;
}
.menuLaPaletteDG .menu .fa-heart,
.menuALaFR .menu .fa-heart,
.menuLaNoteE .menu .fa-heart,
.menuLeDeliceDS .menu .fa-heart {
  font-size: 30px;
}
.menuLaPaletteDG .menu .like-button,
.menuALaFR .menu .like-button,
.menuLaNoteE .menu .like-button,
.menuLeDeliceDS .menu .like-button {
  cursor: inherit;
}
.menuLaPaletteDG .menu .coeur-vide,
.menuALaFR .menu .coeur-vide,
.menuLaNoteE .menu .coeur-vide,
.menuLeDeliceDS .menu .coeur-vide {
  position: absolute;
  right: 40px;
  top: 37px;
}
.menuLaPaletteDG .menu .coeur-plein,
.menuALaFR .menu .coeur-plein,
.menuLaNoteE .menu .coeur-plein,
.menuLeDeliceDS .menu .coeur-plein {
  position: absolute;
  right: 40px;
  top: 37px;
  height: 30px;
  width: 30px;
  opacity: 0;
  color: transparent;
  transition: opacity 0.5s ease;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
}
.menuLaPaletteDG .menu .coeur-plein:hover,
.menuALaFR .menu .coeur-plein:hover,
.menuLaNoteE .menu .coeur-plein:hover,
.menuLeDeliceDS .menu .coeur-plein:hover {
  opacity: 1;
}
.menuLaPaletteDG .repas,
.menuALaFR .repas,
.menuLaNoteE .repas,
.menuLeDeliceDS .repas {
  font-weight: 300;
  font-size: 16px;
  line-height: 18.75px;
  width: 40px;
  height: 27px;
  border-bottom: 3px solid #99E2D0;
}
.menuLaPaletteDG .liste,
.menuALaFR .liste,
.menuLaNoteE .liste,
.menuLeDeliceDS .liste {
  margin: 0 13px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menuLaPaletteDG .card-repas,
.menuALaFR .card-repas,
.menuLaNoteE .card-repas,
.menuLeDeliceDS .card-repas {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  border-radius: 15.04px;
  height: 69px;
  position: relative;
  overflow: hidden;
}
.menuLaPaletteDG .card-repas:hover a,
.menuALaFR .card-repas:hover a,
.menuLaNoteE .card-repas:hover a,
.menuLeDeliceDS .card-repas:hover a {
  width: 59px;
  opacity: 1;
  align-self: flex-end;
  transition: all s ease-in-out;
}
.menuLaPaletteDG .card-repas:hover .card-txt,
.menuALaFR .card-repas:hover .card-txt,
.menuLaNoteE .card-repas:hover .card-txt,
.menuLeDeliceDS .card-repas:hover .card-txt {
  width: 30%;
}
.menuLaPaletteDG .card-repas .card-txt,
.menuALaFR .card-repas .card-txt,
.menuLaNoteE .card-repas .card-txt,
.menuLeDeliceDS .card-repas .card-txt {
  display: flex;
  flex-direction: column;
  padding: 13.5px 0 13.5px 15px;
  gap: 5px;
  height: 42px;
  flex: 1;
}
.menuLaPaletteDG .card-repas p,
.menuALaFR .card-repas p,
.menuLaNoteE .card-repas p,
.menuLeDeliceDS .card-repas p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuLaPaletteDG .card-repas .plat,
.menuALaFR .card-repas .plat,
.menuLaNoteE .card-repas .plat,
.menuLeDeliceDS .card-repas .plat {
  font-size: 18px;
  font-weight: 500;
}
.menuLaPaletteDG .card-repas .description,
.menuALaFR .card-repas .description,
.menuLaNoteE .card-repas .description,
.menuLeDeliceDS .card-repas .description {
  font-size: 15.04px;
  font-weight: 300;
}
.menuLaPaletteDG .card-repas .prix,
.menuALaFR .card-repas .prix,
.menuLaNoteE .card-repas .prix,
.menuLeDeliceDS .card-repas .prix {
  display: flex;
  align-items: center;
  font-size: 15.04px;
  font-weight: 700;
  margin-right: 13.5px;
  margin-left: 15px;
}
.menuLaPaletteDG .card-repas a,
.menuALaFR .card-repas a,
.menuLaNoteE .card-repas a,
.menuLeDeliceDS .card-repas a {
  position: relative;
  background-color: #99E2D0;
  height: 69px;
  width: 0;
  border-radius: 0px 15px 15px 0px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuLaPaletteDG .fa-check,
.menuALaFR .fa-check,
.menuLaNoteE .fa-check,
.menuLeDeliceDS .fa-check {
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  background-color: #FFFFFF;
  color: #99E2D0;
  padding: 1px;
  border-radius: 50px;
}

.commander {
  padding: 16px 48px 15px 49px;
  text-align: center;
  margin: 23px auto 60px auto;
  border: transparent;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}

footer {
  z-index: 11;
  margin-right: 25px;
}

/******ANIMATION-AFFICHACHE-PLATS*********/
.un {
  display: flex;
  flex-direction: column;
  gap: 12px;
  animation-duration: 3s;
  animation-name: slide;
  animation-fill-mode: forwards;
}

.deux {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation-delay: 4s;
  animation-duration: 3s;
  animation-name: slide;
  animation-fill-mode: forwards;
}

.trois {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation-delay: 7s;
  animation-duration: 3s;
  animation-name: slide;
  animation-fill-mode: forwards;
}

/**********KEYFRAMES*********/
/******loader*******/
@keyframes fondu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/******ANIMATION-AFFICHACHE-PLATS*********/
@keyframes slide {
  from {
    margin-left: 100%;
    width: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
