

/*********Responsive*************/
@import "responsive";

/*********Homepage***************/
@import "homepage";

/*********Color-Générale*********/
@import "color";

/*********Restaurants-Menu*******/
@import "menus";

/**********KEYFRAMES*********/

/******loader*******/
@keyframes fondu {
    0% { opacity: 1; }
    100% { opacity: 0;
    visibility: hidden; }
  }
 
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

/******ANIMATION-AFFICHACHE-PLATS*********/

@keyframes slide {
  from {
    margin-left:100%;
    width:100%;
    opacity:0
  }

  to{
    margin-left:0%;
    width: 100%;
    opacity: 1;
  }
}

  
  
